s
    | I am going to summarize, 
    break(time="20ms")
    | few user specific 
    emphasis(level="moderate") transaction examples 
    break(time="20ms")
    | to understand my proficiency level. 

    break(time="1s")

    | let's get started!

    break(time="1s")

    //-To Check your balance
    include /en-ca/TourEnquireBalance.pug

    break(time="1s")

    //-= To Send money to a safe-zone payee:
    include /en-ca/TourSendMoney.pug

    break(time="1s")

    //-= To enquire about your expenditures:
    include /en-ca/TourEnquireExpenditures.pug

    break(time="1s")

    //-= Others

    | Other than this, I can help a lot, related to your credit card, personal loan and 

    prosody(rate="slow") you name it I have it! 

    break(time="1s")

    //-= Help
    include /en-ca/TourHelp.pug
    
    break(time="1s")

    //-= End Card

    | Well!

    break(time="2s")

    emphasis(level="moderate") I guess tour is over!

    break(time="1s")


    | Thank's for your time! and enjoy your experience with BMO.