s
    | I'm going to summarize, 
    break(time="20ms")
    | few user specific 
    emphasis(level="moderate") approaches 
    break(time="20ms")
    | to understand better my proficiency level. 

    break(time="1s")

    | let's get started!

    break(time="1s")

    //-To Check your balance
    include /en-ca/TourEnquireBalance.pug

    break(time="1s")

    //-= To Send money to a safe-zone payee:
    include /en-ca/TourSendMoney.pug

    break(time="1s")

    //-= To enquire about your expenditures:
    include /en-ca/TourEnquireExpenditures.pug

    break(time="1s")

    //-= Others

    | Other than this, 
    | I can help to explore 
    prosody(rate="slow") BMO product details and your credit card details, 
    | if anything associated with your account.

    

    break(time="1s")

    //-= Help
    include /en-ca/TourHelp.pug
    
    break(time="1s")

    //-= End Card

    | Well!

    break(time="2s")

    emphasis(level="moderate") I guess, the tour is over!

    break(time="1s")


    | Thank's for your time! and enjoy your experience with BMO.