s
    | To check your balance:

    | You can say like,

    | What's my balance?

    | Or

    | Balance please

    | As a result of this, you can get your current balance from your linked bank account.