s    
    | To Send money to a safe-zone payee:

    | You can say like,

    break(time="1s")

    | I want to 
    prosody(rate="slow")  send $200 to MOM for house bills

    break(time="30ms")

    | In other words,

    break(time="30ms")

    | I want to send some money to MOM

    break(time="1s")

    | At the end of this conversation 
    prosody(rate="slow") $200 
    | will be sent to your MOM 
    | and purpose of transaction also tracked for future reference. 
    
    break(time="1s")

    emphasis(level="moderate") As per this example, 
    prosody(rate="slow") MOM 
    | is a short name for a safe-zone payee account.