s
    | You can seek help anytime without hesitation,

    | For Example,

    break(time="1s")

    | What's safe-zone payee?

    break(time="30ms")

    | Otherwise,

    break(time="30ms")

    | HELP me, And then your question 