s
    | To check your balance:

    | You can say like,

    break(time="1s")

    prosody(rate="slow") What's my balance? 

    break(time="30ms")

    | Otherwise 

    break(time="30ms")

    prosody(rate="slow") my balance please

    break(time="1s")

    emphasis(level="moderate") As a result of this, 
    | you can get your 
    | current balance from your linked bank account.