s
    | To enquire about your expenditures:

    | You can say like,

    break(time="1s")

    | Get my last 
    prosody(rate="slow") 5 transactions?

    break(time="30ms")

    | How much I spent 
    prosody(rate="slow") for this month?

    break(time="30ms")

    | How much I spent 
    prosody(rate="slow") between Apr 20 to Apr 25?

    break(time="30ms")

    | How much I spent 
    prosody(rate="slow") yesterday?

    break(time="1s")

    emphasis(level="moderate") You can ask any period of time, 

    prosody(rate="slow") you name it, I have it! 
