s
    | To enquire about your expenditures:

    | You can say like,

    | Get my last 5 transactions?

    | How much I spent for this month?

    | How much I spent between Apr 20 to Apr 25?

    | How much I spent yesterday?

    | You can ask any time span as per your necessity.
