if ! Reprompt_Message
    if CCAmount.length > 0
        s
            emphasis(level="moderate")
                prosody(volume="loud") You initiated to pay, 
                break(time="20ms")
                prosody(volume="loud") 
                    prosody(rate="slow")  #{CCAmount} 
                emphasis(level="moderate") towards your credit card outstanding.
                if Credit_Card_Due_Amount !== CCAmount 
                    - var Balance = parseFloat(parseFloat(Credit_Card_Due_Amount.replace('$', '')) - parseFloat(CCAmount.replace('$', ''))).toFixed(2);
                    break(time="1s")
                    emphasis(level="moderate") The balance outstanding would be 
                    prosody(volume="loud") 
                        prosody(rate="slow")  $#{Balance}.
                else
                    break(time="20ms")
                    emphasis(level="moderate") , which is your current outstanding.
                break(time="20ms")
                emphasis(level="moderate") To continue this bill payment, spell your 
                prosody(volume="loud") 
                    prosody(rate="slow") last four digit of your credit card number.

    else
        s
            | I am sorry,
            emphasis(level="moderate") Can you please link your account again?
else 
    s
        emphasis(level="moderate")
                prosody(volume="loud") Anything else?