if ! Reprompt_Message
    s
        | Welcome to 
        +loud
            +slow
                | #{Institution_Name}, 
        break(time="1s")
        | Are you an existing
        emphasis(level="moderate") customer 
        | with #{Institution_Name}?
else
    s
        | Are you an existing
        emphasis(level="moderate") customer 
        | with #{Institution_Name}?