s    
    | To Send money to a safe-zone payee:

    | You can say like,

    | Send $200 to MOM

    | Send $200 to MOM for monthly maintenance

    | Or

    | I want to send some money to MOM

    | At the end of this conversation $200 will be sent to your MOM and purpose of transfer also tracked. As per this example, MOM is a short name for a safe-zone payee account.