if Locale == "fr-ca"
    s
        | vous continuez déjà avec dites aide 
        +loud
            | BMO, 
        +weak-break
            +high
                +loud
                    +slow
                        | dites aide 
        +loud        
            | pour en savoir plus
else
    s
        | You are already continuing with 
        +loud
            | BMO, 
        +weak-break
            +high
                +loud
                    +slow
                        | say help 
        +weak-break
            +loud        
                | to explore more